{% extends 'blog/base.html' %}

{% block content %}
    <h1>Contato</h1>
    <p>Aliquam laoreet lectus rhoncus semper ultricies. Sed in viverra justo. In imperdiet accumsan tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed maximus ac elit a dignissim. Morbi velit tellus, pulvinar tempus nisi quis, viverra gravida nulla. Phasellus vestibulum tempor hendrerit. Nam tincidunt, justo nec tincidunt tempus, augue diam sodales leo, vitae convallis diam nulla tempus mauris. Nulla pharetra dolor sit amet rutrum ultricies. Nullam eget justo nunc. Ut ultricies metus id lacus mattis venenatis a id sapien. Nulla facilisi. Proin vitae lobortis ipsum, eu pretium quam. Sed eget malesuada nunc.</p>
{% endblock %}